<div class="container">
  <img class="bg" src=gigit"../../../assets/images/sunset.jpg">
  <div class="content">
    <mat-card class="form-card">
      <form class="contact-form" [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit(contactForm.value)"> 

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="name.touched && name.pristine">
              No name entered.
          </mat-error>    
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="email.invalid && email.touched" >
                Invalid email
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message">hi</textarea>
            <mat-error *ngIf="message.touched && message.pristine">
                Don't forget to add your message!
            </mat-error>
        </mat-form-field>

        <div class="row submit-button-container">
          <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!contactForm.valid">Create</button>
        </div>

      </form>
    </mat-card>
  </div>
</div>