.container {
    height: 90vh;
    width: 100%;
    border: 1px solid red;
    position: relative;
    
}


.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.form-card {
    width: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    /* min-width: 150px; */
    width: 500px;
}

.field {

}

.submit-button {
    margin-top: 10px;
    float: right;
}
