<div class="container">
  <div class="overlay"></div>
  <div class="card">
    <div class="text">
      <h1 class="title">Who Am I?</h1>
      <p>I am a software developer with a passion for web, mobile,
        and game development, who graduated from the Computer Systems Technology program at
        the British Columbia Institute of Technology.</p>
      <p>
        Through my studies, I found I was most interested in full-stack development.
        I love the idea of being able to handle databases and logic and while also
        designing layouts for sites and stylizing how data is displayed. 
      </p>
      <p>I like to code things from scratch and bring ideas to life. I strive
        to write clean and scalable solutions to everyday problems. My natural
        curiousity pushes me towards learning new techniques everyday, one problem
        at a time. 
      </p>
    </div>
  </div>
  <div class="photo">
    <img src="../../../assets/images/CoolVic.jpg" alt="photo of me">
  </div>
</div>
