<div id="footer">
  <div class="container">
    <div class="copy">
      <p class="text">&copy; {{currentDate | date: 'yyyy' }} Victor Bak</p>
    </div>
    <div class="social">
      <p class="text">Connect:</p>
      <a href="https://www.linkedin.com/in/victor-bak-8931ba154/" title="Connect with me on LinkedIn!" target="_blank"><img class="icon" src="../../../assets/images/liw.png"></a>
      <a href="https://github.com/victorbak" title="Follow me on Github!" target="_blank"><img class="icon" src="../../../assets/images/gh.png"></a>
    </div>
  </div>
</div>