.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    border: 1px solid red;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0 60px;
}

#title {
    /* margin-left: 100px; */
    width: 100%;
    padding-left: 60px;
}

.bg {
    width: 1000px;
    background-color: blue;
    height: 1000px;
}


#gallery {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    width: 50%;
    padding-top: 20.25%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all, 2s, ease-in-out, .5s;
    cursor: pointer;
}

#item1 {
    background-image: url("../../../assets/images/preview16.jpg");
}

#item2 {
    background-image: url("../../../assets/images/preview16.jpg");
}

#item3 {
    background-image: url("../../../assets/images/preview16.jpg");
}

#item4 {
    background-image: url("../../../assets/images/preview16.jpg");
}

.item-text {
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* pointer-events: none; */
}

.item-text h3 {
    font-size: 36px;
    margin-bottom: 20px;
    transform: translate(0, 45px);
    transition: all, 2s, ease-in-out, .5s;
    color: white;
}


.item-text p {
    font-size: 30px;
    transform: translate(0, 45px);
    transition: all, 2s, ease-in-out, .5s;
    visibility: hidden;
    opacity: 0;
    color: white;
}

.gallery-item:hover .item-text h3 {
    transform: translate(0, 0);
}

.gallery-item:hover .item-text p {
    transform: translate(0, 0);
    visibility: visible;
    opacity: .5;
}

.item-text h3, .item-text p {
    margin-top: 0;
}

@media only screen and (max-width: 1500px) {

} 

@media only screen and (max-width: 1125px) {
    .container {
        padding: 0;
    }
    .item-text h3 {
        font-size: 28px;
    }
    .item-text p {
        font-size: 24px;
    }

}


@media only screen and (max-width: 800px) {
    .gallery-item {
        width: 400px;
        padding-left: 0;
        padding-right: 0;
    }
    .item-text h3 {
        font-size: 24px;
        transform: translate(0, 0);
    }
    .item-text p {
        font-size: 20px;
        transform: translate(0, 0);
        opacity: .5;
        visibility: visible;
    }
}


@media only screen and (max-width: 420px) {
    #gallery {
        padding: 0 0;
    }
     .gallery-item {
        width: 350px;
        height: 175px;
        margin: 0 10px;
    } 
    .item-text h3 {
        font-size: 18px;
        transform: translate(0, 0);
    }
    .item-text p {
        font-size: 14px;
        transform: translate(0, 0);
        opacity: .5;
        visibility: visible;
    }
    .container {
        min-height: 80%;
    }
}