
/* for parallaxing image */
.container::before {
    /* parallaxing image */
    content: "";
    position: absolute;
    width: 100%;
    background-image: url("../../../assets/images/sunset.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: left-top;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
}

.container {
    background-color: black;
}

.toppings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    opacity: .9;
    position: relative;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

p {
    font-size: 44px;
    padding: 0;
    margin: 5px;
}

h1 {
    padding: 0;
    margin: 5px;
    color: black;
}


@media only screen and (max-width: 328px) {
    p {
        font-size: 36px;
    }
}