.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    color: white;
    background-color: black;
    top: 0;
}

.header .container {
    display: flex;
    width: 100%;
}

.header img {
    width: 125px;
    height: 75px;
}

.header .container .nav {
    display: flex;  
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
}

li {
    padding: 10px;
}