.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 60px;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    justify-content: space-between;
}

img {
    width: 40%;
    height: auto;
    text-align: center;
}