<div class="container">
  <div id="title">
    <h1>Projects</h1>
  </div>
  <div id="gallery">
    <div class="row">
      <div id="item1" class="gallery-item">
        <div class="item-text">
          <h3>Project Name</h3>
          <p>Type of Project</p>
        </div>
      </div>
      <div id="item2" class="gallery-item">
        <div class="item-text">
          <h3>Project Name</h3>
          <p>Type of Project</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="item3" class="gallery-item">
        <div class="item-text">
          <h3>Project Name</h3>
          <p>Type of Project</p>
        </div>
      </div>
      <div id="item4" class="gallery-item">
        <div class="item-text">
          <h3>Project Name</h3>
          <p>Type of Project</p>
        </div>
      </div>
    </div>
  </div>
</div>
