.container {
    padding: 20px;
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-image: url('../../../assets/images/Beaver1.png'); */
    background-size: cover;
    background-position: center;
}

#project1 {

}

#project2 {
    background-position: bottom center;
}

#project1 {
    
}

#project1 {
    
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* border-radius: 5px; */
    margin: 20px;
    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.title h1 {
    margin: 0;
}

.back {
    cursor: pointer;
}

.back:hover {
    color: rgb(156, 75, 75);
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.images {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-box {
    width: 70%;
    padding-top: 20.25%;
    margin: 10px;
    opacity: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-box img {
    width: 100%;
    /* border-radius: 5px; */
}

.description {
    padding: 15px;
    max-width: 1100px;
}

.description .back {
    display: none;
    text-align: right;
}


@media only screen and (max-width: 1010px) {
    .title {
        flex-direction: column-reverse;
        text-align: center;
    }
    .project-info {
        width: auto;
    }
    .description {
        width: 400px;
    }
    .description .back {
        visibility: visible;
    }
    .images {
        flex-direction: column;
        align-items: center;
    }
    .img-box {
        width: 400px;
        height: 200px;
        min-width: 160px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 400px) {
    .project-info p {
        font-size: 16px;
    }
    .img-box {
        width: 350px;
        height: 175px;
        margin: 0 10px;
    }
    .card {
        margin: 0;
    }
    .title {
        flex-direction: column-reverse;
    }
    .title h1 {
        font-size: 30px; 
    }
    .title .back {
        text-align: left;
    }
    .description .back {
        text-align: center;
        padding-top: 10px;
        display: revert;
    }
}