<div class="container">
    <img id="bg" src="../../../assets/images/Beaver1.png" />
    <div class="card"> 
        <div class="project-info">
            <div class="title">
                <h1>{{project.title}}</h1>
                <p class="back" (click)="goBack()">&larr; Back to projects</p> 
            </div>
            <div class="images">
                <div class="img-box">
                    <img src={{project.coverImage}}>
                </div>
                <div class="img-box">
                    <img src={{project.coverImage}}>
                </div>
                <div class="img-box">
                    <img src={{project.coverImage}}>
                </div>
            </div>
            <div class="description">
                <p>{{project.description}}</p>
                <p>Toolset: {{project.toolset}}</p>
            </div>
        </div>
    </div>
</div>


