.container {
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    min-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    filter: blur(4px);
} 

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.title h1 {
    margin: 0;
}

.title button {
    border-radius: 5px;
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    margin: auto;
}

.img-box {
    max-width: 540px;
    margin: 10px;
    opacity: 1;

}

img {
    width: 100%;
    border-radius: 5px;
}

.description {
    padding: 15px;
}

#back {
    cursor: pointer;
}

@media only screen and (max-width: 1010px) {
    .title {
        text-align: center;
    }
    .images {
        flex-direction: column;
        align-content: center;
    }
    .img-box {
        width: 400px;
        min-width: 160px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 400px) {
    .project-info p {
        font-size: 16px;
    }
    .img-box {
        margin: 0;
        max-width: 250px;
        padding: 10px;
    }
    .card {
        margin: 0;
    }
}