.container {
    padding: 20px;
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* border-radius: 5px; */
    margin: 20px;
    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.title h1 {
    margin: 0;
}

.title .back {
    /* visibility: hidden; */
}

.back {
    cursor: pointer;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    margin: auto;
}

.img-box {
    max-width: 540px;
    margin: 10px;
    opacity: 1;

}

.img-box img {
    width: 100%;
    /* border-radius: 5px; */
}

.description {
    padding: 15px;
    width: 100%;
}

.description .back {
    visibility: hidden;
    text-align: right;
}


@media only screen and (max-width: 1010px) {
    .title {
        flex-direction: column-reverse;
        text-align: center;
    }
    .description .back {
        visibility: visible;
    }
    .images {
        flex-direction: column;
        align-content: center;
    }
    .img-box {
        width: 400px;
        min-width: 160px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 400px) {
    .project-info p {
        font-size: 16px;
    }
    .img-box {
        margin: 0;
        max-width: 250px;
        padding: 10px;
    }
    .card {
        margin: 0;
    }
    .title {
        flex-direction: column-reverse;
    }
    .title h1 {
        font-size: 30px; 
    }
    .title .back {
        text-align: left;
        visibility: visible;
    }
    .description .back {
        text-align: center;
        padding-top: 10px;
    }
}