/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
    margin: 0;
    height: 100%;
}

.title-text {
    font-size: 50px;
}

h1 {
    font-size: 44px;
}

p {
    font-size: 20px;
}
 
.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
} 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}

/* 
#project-title {

    width: 100%;
    padding-left: 60px;
} */


@media only screen  and (max-width: 975px) {
    .title-text {
        font-size: 42px;
    }
}


@media only screen and (max-width: 875px) {
    .title-text {
        font-size: 38px;
    }
}

@media only screen and (max-width: 500px) {
    .title-text {
        font-size: 30px;
    }
}