/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    margin: 0px;
    height: 100%;
}
/* 
#project-title {

    width: 100%;
    padding-left: 60px;
} */
 
.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    filter: blur(4px);
}  

h1 {
    font-size: 44px;
}

p {
    font-size: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
